<nav class="br-breadcrumb" aria-label="Breadcrumbs">
    <ol class="crumb-list" role="list">
      <li class="crumb home"><a class="br-button circle" href="/home"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
      <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="/s1/servico"><i class="fa fa-rotate-right"></i>Atualizar</a>
      </li>
    </ol>
  </nav>
  <nav class="br-pagination" aria-label="paginação" data-total="4" data-current="1">
    <ul>
    </ul>
  </nav>
  <div class="br-divider"></div>

<iframe class="escala" [src]="iframeSrc" width="100%" height="550"></iframe>

<p class="br-divider mt-6"></p>
<h1>Avisos do serviço</h1>
<p class="br-divider"></p>
<div class="text-justify">
  <markdown src="servico.md"></markdown>
</div>