.br-breadcrumb {
    display: flex;
    justify-content: left;
}

markdown {
    text-align: justify;
}

.p {
    padding: 4px;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

.row {
    justify-content: center;
}