<div class="mb-3">
    <a href="https://sgd.eb.mil.br/pages/login.faces#app" target="_blank">
    <div class="d-flex justify-content-center">
        <span class="feedback warning" role="alert">
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
            Avaliação Lateral - SGD
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            1º Sgt/ST - 21 a 31 JUL
            <i class="fa fa-link" aria-hidden="true"></i>
        </span>        
    </div>
</a>
</div>
<div class="mb-3">
    <a href="https://sucemnet.eb.mil.br/cn_login" target="_blank">
    <span class="feedback info" role="alert">
        <i class="fas fa-info-circle" aria-hidden="true"></i>
        Estágios disponíveis no SUCEMNET
        <i class="fa fa-link" aria-hidden="true"></i>
    </span>
    </a>
</div>