<div class="mb-3">
    <a href="https://sgd.eb.mil.br/pages/login.faces#app" target="_blank">
    <div class="d-flex justify-content-center">
        <span class="feedback warning" role="alert">
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
            Avaliação Lateral - SGD
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            2º Ten / 1º Ten - 11 a 20 AGO
            <i class="fa fa-link" aria-hidden="true"></i>
        </span>        
    </div>
</a>
</div>