body{
    background-color: rgba(255, 255, 255, 1); /* Cor de fundo que será exibida caso a imagem não carregue */
    font: normal 15pt Arial;
    background-image: url('operacao.png'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo do body */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    margin: 0; /* Remove as margens padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    height: 100vh; /* Define a altura do body para 100% da altura da janela */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

header{
    color: black;
    text-align: center;
    font: normal 15pt Arial;
}

section#quadro{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    text-align: center;
}

input{
    min-height: 30px;
    font: normal 10pt Arial;
}

section#giga{
    background: rgba(145, 255, 0, 0.8);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5); /* Opcional: Cor de fundo com transparência */
    padding: 10px; /* Espaçamento interno */
    position: fixed; /* Fixa o footer na parte inferior */
    bottom: 0; /* Alinha o footer na parte inferior */
    width: 100%; /* Ocupa toda a largura da página */
}
