<div class="shadow-md p-4 rounder-lg" style="display: flex; flex-direction: column; align-items: center;">
<form (ngSubmit)="onLogin()">
  <div>
    <div class="br-input input-button">
      <label for="input-login-small">CPF</label>
      <input
        mask="999.999.999-99"
        id="input-login-small" 
        type="text" 
        placeholder="Digite seu CPF"
        [(ngModel)]="cpf" 
        name="cpf"
        required
      />
    </div>
  </div>

  <div>
    <div class="br-input input-button">
      <label for="input-password-small">Senha</label>
      <input 
        id="input-password-small" 
        type="password" 
        placeholder="Digite sua senha"
        [(ngModel)]="password" 
        name="password"
        required
      />
    </div>
  </div>

  <button class="br-button primary mt-2" type="submit" aria-label="Botão de login">
    <i class="fas fa-arrow-right" aria-hidden="true"></i> Entrar
  </button>
</form>
</div>