<div class="template-base">
  <app-popup></app-popup>
  <main class=" mb-5" id="main-navigation">
    <br-header></br-header>
    <div class="container col-xl-10 col-sm-12">
      <div class="row">
        <br-menu
        id="main-navigation"
        class="br-menu push active col-sm-3 col-lg-3 px-0"
          data-breakpoints="col-sm-3 col-lg-3"
          >
          </br-menu>
          <div class="col content-container">
            <div class="text-center">
              <router-outlet></router-outlet>
            </div>
            </div>
            </div>
            </div>
            </main>
          <br-footer></br-footer>
            </div>
            