
<div class="br-table" title="Sistemas Externos">
    <div class="table-header">
      <div class="top-bar">
        <div class="table-title text-bold">Sistemas Externos</div>
        <div class="actions-trigger text-nowrap">
          <div class="br-list" id="target01-406" role="menu" aria-labelledby="button-dropdown-density" hidden="hidden">
          </div>
        </div>
      </div>
    </div>
    <table><colgroup span="3"></colgroup>
      <thead>
        <tr>
          <th class="border-bottom" scope="col"><strong>Assunto</strong></th>
          <th class="border-bottom border-left" scope="col"><strong>Link</strong></th>
          <th class="border-bottom border-left" colspan="3" scope="colgroup"><strong>Descrição</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="border-right" rowspan="3" scope="rowgroup"><i class="fa fa-envelope"></i>Correio eletrônico</th>
          <td><a href="https://ebmail.eb.mil.br/" target="_blank">EBMail</a></td>
          <td colspan="3">E-mail Institucional</td>
        </tr>
        <tr>
            <td><a href="https://correio.eb.mil.br/" target="_blank">Zimbra EB</a></td>
            <td colspan="3">Correio do exército brasileiro</td>
        </tr>
        <tr>
            <td><a href="https://correio.9bcomge.mil.br/" target="_blank">Zimbra 9º B Com GE</a></td>
            <td colspan="3">Correio do 9º B Com GE</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <th class="border-right" rowspan="6" scope="rowgroup"><i class="fa fa-medal"></i>Pessoal</th>
        <tr>
            <td title="link"><a href="https://sucemnet.eb.mil.br/cn_login" target="_blank">SucemNet</a></td>
            <td title="descricao" colspan="3">Sistema Único de Controle de Efetivo e Movimentações</td>
        </tr>
        <tr>
            <td title="link"><a href="https://sicapex.eb.mil.br/login.seam" target="_blank">SiCaPEx</a></td>
            <td title="descricao" colspan="3">Sistema de Cadastramento de Pessoal do Exército</td>
        </tr>
        <tr>
            <td title="link"><a href="https://sgd.eb.mil.br/" target="_blank">SGD</a></td>
            <td title="descricao" colspan="3">Sistema de Gestão do Desempenho</td>
        </tr>
        <tr>
            <td title="link"><a href="https://sermilweb.eb.mil.br/login.action" target="_blank">SERMILMOB</a></td>
            <td title="descricao" colspan="3">Serviço Militar Inicial e Mobilização de Recursos Humanos</td>
        </tr>
        <tr>
            <td title="link"><a href="https://www.sippes.eb.mil.br/jsp/login/formLogin.jsp" target="_blank">SIPPES</a></td>
            <td title="descricao" colspan="3">Sistema de Pagamento de Pessoal</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th class="border-right" rowspan="5" scope="rowgroup"><i class="fa fa-truck"></i>Logística</th>
          <tr>
            <td title="link"><a href="http://10.41.31.9:8080/PLD/open.do?action=open&sys=PLD" target="_blank">E-PRDU</a></td>
            <td title="descricao" colspan="3">Planejamento de Demandas Logísticas</td>
        </tr>
          <tr>
            <td title="link"><a href="http://oplog.sef.eb.mil.br/sila7/" target="_blank">OpLog</a></td>
            <td title="descricao" colspan="3">Operador Logístico de Gestão e Apoio ao Suprimento</td>
        </tr>
          <tr>
            <td title="link"><a href="http://sislogmnt.eb.mil.br/" target="_blank">SisLogMnt</a></td>
            <td title="descricao" colspan="3">Sistema Logístico de Manutenção</td>
        </tr>
          <tr>
            <td title="link"><a href="https://www2.scdp.gov.br/novoscdp/home.xhtml" target="_blank">SCDP</a></td>
            <td title="descricao" colspan="3">Sistema de Concessão de Diárias e Passagens</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th class="border-right" rowspan="11" scope="rowgroup"><i class="fa fa-hand"></i>Gestão</th>
          <tr>
            <td title="link"><a href="http://sigpima.eb.mil.br/sigpima/" target="_blank">SIGPIMA</a></td>
            <td title="descricao" colspan="3">Sistema de Gestão do Patrimônio Imobiliário e Meio Ambiente</td>
        </tr>
          <tr>
            <td title="link"><a href="http://intranet.sef.eb.mil.br/sistemas/siga.html" target="_blank">SIGA</a></td>
            <td title="descricao" colspan="3">Sistema de Informações Gerenciais e Acompanhamento Orçamentário</td>
        </tr>
          <tr>
            <td title="link"><a href="http://10.56.120.7/sca/" target="_blank"><i class="fa fa-gas-pump"></i> SCA</a></td>
            <td title="descricao" colspan="3">Sistema para Controle de Abastecimentos</td>
        </tr>
          <tr>
            <td title="link"><a href="https://sipeo.eb.mil.br/SIPEO/" target="_blank">SIPEO</a></td>
            <td title="descricao" colspan="3">Sistema de Planejamento e Execução Orçamentária</td>
        </tr>
          <tr>
            <td title="link"><a href="https://10.166.68.31/" target="_blank">SISADE</a></td>
            <td title="descricao" colspan="3">Sistema de Acompanhamento de Dano ao Erário</td>
        </tr>
          <tr>
            <td title="link"><a href="https://sag.eb.mil.br/" target="_blank">SAG</a></td>
            <td title="descricao" colspan="3">Sistema de Acompanhamento da Gestão</td>
        </tr>
          <tr>
            <td title="link"><a href="https://hod.serpro.gov.br/a83016cv/" target="_blank">SIAFI (HOD)</a></td>
            <td title="descricao" colspan="3">Sistema Integrado de Administração Financeira</td>
        </tr>
          <tr>
            <td title="link"><a href="https://siafi.tesouro.gov.br/senha/public/pages/security/login.jsf" target="_blank">SIAFI (Web)</a></td>
            <td title="descricao" colspan="3">Sistema Integrado de Administração Financeira</td>
        </tr>
          <tr>
            <td title="link"><a href="http://www.opus.eb.mil.br/cobra-grp-web/pages/privado/index.jsf" target="_blank">OPUS</a></td>
            <td title="descricao" colspan="3">Sistema Unificado do Processo de Obras</td>
        </tr>
          <tr>
            <td title="link"><a href="http://www.sispit.eb.mil.br/pit/www/modulos/principal/pagina_principal.php" target="_blank">SisPIT</a></td>
            <td title="descricao" colspan="3">Sistema de Planejamento e Aplicação do PIT</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th class="border-right" rowspan="4" scope="rowgroup"><i class="fa fa-star-of-life"></i>Saúde</th>
          <tr>
            <td title="link"><a href="http://www2.dgp.eb.mil.br/" target="_blank">SGS</a></td>
            <td title="descricao" colspan="3">Sistema de Gestão de Saúde</td>
        </tr>
          <tr>
            <td title="link"><a href="https://sigh.hmilacg.eb.mil.br" target="_blank">SIGH</a></td>
            <td title="descricao" colspan="3">Marcação de Consultas do H Mil</td>
        </tr>
      </tbody>
    </table>
  </div>
  