<br-tab></br-tab>
<br-weather></br-weather>
<div class="modais">
    <br-modal></br-modal>
    <br-modal-avisos></br-modal-avisos>
</div>
<br-carousel></br-carousel>
<div class="py-6"></div>
<p class="br-divider"></p>
<img [src]="bannerStVasc" loading="lazy" alt="encontros de quarta-feira">
<p class="br-divider"></p>
<h2 class="tile-header">Notícias</h2>
<app-news></app-news>
<div class="py-6"></div>
<br-button-balloon [items]="items"></br-button-balloon>
<div class="py-3"></div>
<a href="http://10.56.19.133/arquivos/aprov/" target="_blank">
    <img [src]="cardapioSrc" width="100" alt="cardapio"/>
    <p class="tile-header"> Cardápio da semana</p>
</a>
<div class="py-2"></div>
<div class="br-divider"></div>
<h2 class="tile-header">QTS/ QTFM</h2>
<br-qts-qtfm></br-qts-qtfm>
<div class="py-3"></div>
<p class="br-divider"></p>
<br-aniversariantes></br-aniversariantes>
<div class="py-3"></div>
<div class="br-divider"></div>
<h2 class="tile-header">Calendário anual</h2>
<img [src]="imgSrc" loading="lazy" alt="Calendario S3">
<div class="py-3"></div>
<div class="br-divider py-3"></div>
<h2 class="tile-header">Agenda do Batalhão</h2>
<br-calendario></br-calendario>